.header nav a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
nav {
  align-items: center;
  background-color: #1dd3b2;
  display: flex;
  justify-content: center;
  padding: 10px;
}
